<div class="header">

    <h1>Primes</h1>

    <img src="/assets/eratosthenes.png"
         alt="Erasthothenes' s algorithm">
    <form [formGroup]="inputForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="fill">
            <mat-label>Start with</mat-label>
            <input matInput type="number" placeholder="Start with" formControlName="starter" (keyup)="onImplicitSubmit()">
        </mat-form-field>

    </form>

</div>

<div *ngIf="numbersService.numbers.length > 0" class="results">

    <div *ngFor="let number of numbersService.numbers; index as i">

        <h3 *ngIf="i === 0" (click)="onScrollUp({})" class="clickable">
            &#9650;
            <component-number [input]="number"></component-number>&#9650;
        </h3>

        <h3 *ngIf="i === (numbersService.numbers.length -1)" (click)="onScrollDown({})" class="clickable">
            &#9660;
            <component-number [input]="number"></component-number>&#9660;
        </h3>

        <h3 *ngIf="i !== 0 && i !== (numbersService.numbers.length -1)">
            <component-number [input]="number"></component-number>
        </h3>
    </div>
</div>

<div *ngIf="numbersService.numbers.length == 0" class="results">
    <div class="intro">

        <h2>Prime number generator</h2>

        <p>A simple prime number generator. Build mainly to learn and experiment with Angular.</p>

        <p>Enter a number and the program will generate a list of prime numbers bigger than the number you entered.
           The first number is clickable and generates lower numbers. The last number is clickable and generates higher
           numbers.</p>

        <p>The numbers will be generated as you type up to {{IMPLICIT_LIMIT | number}}, after that you must submit the input box with using
           enter.</p>

        <p>Beware - the prime number generator is not optimized, so entering very large numbers may freeze and crash the
           page.</p>

        <h2>Motivation</h2>

        <p>As a proper weirdo when paying in pubs I like to round the total price including tips to the nearest prime
           number. Most of the waiters and waitresses are seriously confused by that. However, I cannot count primes that
           fast, so I have built this little program to help me.</p>

        <p>P.S. The gentleman in the rop right corner is <a href="https://en.wikipedia.org/wiki/Eratosthenes">
            Eratosthenes of Cyrene (Greek: Ἐρατοσθένης [eratostʰénɛːs])</a> c. 276 BC – c. 195/194 BC) was a Greek polymath:
           a mathematician, geographer, poet, astronomer, and music theorist.
           He was a man of learning, becoming the chief librarian at the Library of Alexandria. He is best known for being
           the first person known to calculate the circumference of the Earth and in number theory, he introduced
           the <a href="https://en.wikipedia.org/wiki/Sieve_of_Eratosthenes">sieve of Eratosthenes</a>,
           an efficient method of identifying prime numbers. Unfortunately, this method is not used here.
        </p>
    </div>

</div>
