body {
  width: 100%;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.header {
  background-color: blanchedalmond;
  color: black;
  padding: 10px;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 16vh;
  top: 0;

  img {
    height: 8vh;
    position: absolute;
    right: 0.7em;
    top: 0.7em;
  }
}

.results {
  position: absolute;
  top: 20vh;
  left: 0;
  height: 80vh;
  overflow-y: scroll;
  width: 100%;
  bottom: 0;

  h3 {
    margin: 8px auto ;
    padding: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: gray;
    text-align: center;
    background: whitesmoke;
    width: 70%;
    font-weight: bolder;
  }

  h3.clickable {
    cursor: pointer;
    background: whitesmoke;
  }

}

.intro {
  margin: 1vh 3vh;
}
